/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 nov 2023, 0:40:34
    Author     : altro
*/

@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
html {
  overflow-x: hidden;
  background-color: #e9e9e9;
  height: auto;
}
nav {
  position: absolute;
}
.content_index {
  position: absolute;
  display: flex;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
.carousel_neg {
  height: 80vh;
  margin-bottom: 3%;
}
.imgn {
  filter: blur(0.8);
  -webkit-filter: blur(2px);
}
.btn_crr {
  z-index: 2;
  width: 10%;
}
.neg {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  top: 0%;
  height: 100%;
  width: 100%;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 9%;
  padding-bottom: 2%;
  color: white;
}
.Des_neg_indx {
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
  overflow-y: scroll;
}
.Des_neg_indx::-webkit-scrollbar{
    width: 5px;
}
.Des_neg_indx::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}
.Nom_neg_indx {
  font-family: "Jomhuria", serif;
  font-size: 8rem;
  line-height: 0.7;
  height: 40%;
}
.btn_exp {
  width: 20%;
  background-color: #ff4105;
  font-weight: bold;
  color: white;
}
.btn_exp:hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: #a52600;
  color: white;
}
.desc {
  height: 55%;
  padding: 1%;
  border-left: 3px solid white;
}
.desc span {
  height: 70%;
}
.img_lg_crrs {
  height: 60%;
}
.slider_i {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  scroll-behavior: smooth;
  padding: 5px
}
.card_i {
  flex: 0 0 auto;
  margin-right: 25px;
  width: 300px;
  height: 300px;
  background-color: #f1f1f1;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.card_i:first-child {
  margin-left: 1%;
}
.slid_neg {
  padding: 45px;
  padding-top: 0px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
}
.slid_neg span:first-child {
  font-size: 2.5rem;
  font-weight: bolder;
}
.slid_neg span:nth-child(2) {
  margin-bottom: 20px;
}
.slid_neg button {
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
  border: 2px solid black;
  box-shadow: 3px 3px 1px black;
  font-weight: bold;
  font-size: 1.3rem;
}

.slid_neg button:hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: #f58b4f;
  color: white;
}

.slid_pro {
  padding: 35px;
  padding-top: 0px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
}
.slid_pro button:hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: #4a1a31;
  color: white;
}
.dtp_tt {
  font-weight: bolder;
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
}
.slid_pro button {
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
  border: 2px solid black;
  box-shadow: 3px 3px 1px black;
  font-weight: bold;
  font-size: 1.3rem;
}

.prev {
  left: 35px;
  margin-top: 10%;
}
.next {
  margin-top: 10%;
  right: 25px;
}
#prev_dtp {
  margin-top: 0%;
}
#next_dtp {
  margin-top: 0%;
}
.cardi {
  height: 300px;
  width: 300px;
  background: rgb(221, 221, 221);
  border-radius: 20px;
  cursor: pointer;
}

.img_sli_n {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}

.dts_sli_n {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  z-index: 1;
  font-family: "Josefin Sans", sans-serif;
  padding: 5px;
  color: white;
  display: none;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
}

#nn_sli_n {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}
#nv_sli_n {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin: 0px;
}
.cf_sli_n {
  font-size: 1.4rem;
  height: 2rem;
}
.dir_sli_n i {
  font-size: 1.8rem;
}
.hover_infn {
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: 9;
  cursor: pointer;
}
.hover_infn:hover ~ div {
  display: flex;
}
.padd_lds {
  padding-left: 1%;
  padding-right: 1%;
}
#pro_dtp {
  background-color: transparent;
}
.card_pro {
  width: 325px;
  max-width: 350px;
  min-height: 420px;
  max-height: 450px;
  font-family: "Josefin Sans", sans-serif;
  padding: 5px;
  flex: 0 0 auto;
  margin-right: 25px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
.card_pro .card-body {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_pro .card-text {
  font-size: 0.85rem;
}
.tt_pro {
  font-size: 2rem;
  font-weight: bolder;
  margin: 0px;
  height: 22%;
}
.inf_pro span {
  font-size: 1.3rem;
  font-weight: bold;
}
.inf_pro span:first-child {
  padding: 5px;
  border: 3px solid black;
  border-radius: 15px;
  background-color: white;
}
.inf_pro span:last-child {
  width: 35%;
  display: flex;
  justify-content: space-around;
}
.card_pro:hover {
  transition: 0.3s;
  background-color: #f58b4f;
  color: white;
}
.pre_sl {
  color: black;
}
.card_pro_most {
  background-color: white;
}
.Novedades_i {
  width: 100%;
}
.cont_nov_i {
  height: 85vh;
  background-color: white;
  padding: 5px;
  gap: 5px;
}
.cont_nov_i2 {
  gap: 5px;
}
.nov_tt {
  padding-left: 25px;
}
.nuacmy {
  background-color: #4d152f;
  position: absolute;
  height: 100%;
}
.nuneun {
  background: linear-gradient(
    90deg,
    #98363c 0%,
    #d35d64 70.4%,
    rgba(192, 77, 83, 0) 89.07%,
    rgba(211, 93, 100, 0) 137.92%
  );
  position: absolute;
  z-index: 2;
}
.anuneg1 {
  background: linear-gradient(
    90deg,
    #fb7356 0%,
    #ff937b 70%,
    rgba(255, 159, 138, 0) 80%
  );
  position: absolute;
  z-index: 2;
}
.anuneg2 {
  background: linear-gradient(
    90deg,
    #ffbf43 0%,
    #ffcf71 70%,
    rgba(246, 210, 140, 0) 80%
  );
  position: absolute;
  z-index: 2;
}
.anuneg2_cont,
.anuneg1_cont,
.nupro_cont,
.nuacmy_cont{
  position: relative;
  display: flex;
  overflow: hidden;
  font-weight: bold;
}
.img_anuneg2,
.img_anuneg1 {
  position: absolute;
  right: 0;
  width: 30%;
  z-index: 1;
}
.anuneg2_cont:hover .anuneg2 {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background: linear-gradient(
    90deg,
    #ffbf43 0%,
    #ffcf71 10%,
    rgba(246, 210, 140, 0) 40%
  );
}
.anuneg1_cont:hover .anuneg1 {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background: linear-gradient(
    90deg,
    #fb7356 0%,
    #ff937b 10%,
    rgba(255, 159, 138, 0) 40%
  );
}
.anuneg1_cont:hover .nuneun {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;

  background: linear-gradient(
    90deg,
    #98363c 0%,
    #d35d64 10%,
    rgba(192, 77, 83, 0) 40%,
    rgba(211, 93, 100, 0) 137.92%
  );
}
.nupro_cont:hover .nupro{
  background: linear-gradient(
    0deg,
    #ff5391 0%,
    #ff778f 20%,
    rgba(255, 119, 143, 0) 50%
  );
}
.anuneg2_cont:hover .img_anuneg2,
.anuneg1_cont:hover .img_anuneg1 {
  transition: 0.3s;
  left: 10%;
  right: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.nupro_cont:hover .img_nupro{
  bottom: -15%;
  top: inherit;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.txt_anuneg2 {
  position: absolute;
  width: 58%;
  height: 100%;
  font-size: 0.8rem;
  right: 0;
  font-weight: bold;
  text-align: justify;
}
.nupro {
  background: linear-gradient(
    0deg,
    #ff5391 0%,
    #ff778f 90%,
    rgba(255, 119, 143, 0) 100%
  );
  position: absolute;
  z-index: 2;
  bottom: 0;
  height: 50%;
}
.img_nupro{
  position: absolute;
  top: 0;
  height: 60%;
  z-index: 1;
}
.img_my_nov{
  position: absolute;
  bottom: 0;
}
.tt_nov {
  width: 60%;
  font-size: 2.5rem;
  line-height: 98%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  color: white;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.tt_nov_np{
  font-size: 2.5rem;
  line-height: 98%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  color: white;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
}
.att_nov {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.att_nov_h {
  width: 25%;
  font-size: 3rem;
  font-weight: bolder;
  color: white;
  text-shadow: 3px 3px 0px rgb(0, 0, 0);
  filter: opacity(0.5);
  -webkit-filter: opacity(0.5);
  display: none;
}
.att_nov_h_np{
  height: 20%;
  font-size: 2.45rem;
  font-weight: bolder;
  color: white;
  text-shadow: 3px 3px 0px rgb(0, 0, 0);
  filter: opacity(0.5);
  -webkit-filter: opacity(0.5);
  display: none;
} 
.anuneg2_cont:hover .tt_nov,
.anuneg2_cont:hover .att_nov,
.anuneg1_cont:hover .tt_nov,
.anuneg1_cont:hover .att_nov,
.nuneun:hover .tt_nov,
.nuneun:hover .att_nov {
  display: none;
}
.anuneg2_cont:hover .att_nov_h,
.anuneg1_cont:hover .att_nov_h,
.nuneun:hover .att_nov_h {
  display: block;
}
.txt_anuneg2 #card_i, .txt_anuneg2 #dts_sli_n, .txt_anuneg2 #hover_infn{
  height: 150px;
  width: 150px;
}
.txt_anuneg2 #dts_sli_n span, .txt_anuneg2 #dts_sli_n i{
  font-size: 0.7rem;
}
#cf_sli_n{
  height: 0.7rem;
}
.nue_neg_tt{
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}
.pro_np_nov{
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 3px 3px 1px black;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: black;
  text-decoration: none;
}
.pro_np_nov:hover{
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: #f58b4f;
  color: white;
}
.img_pro_nov{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.nom_pro_nov{
  border-right: 3px solid rgb(0, 0, 0);
}
.nue_pro_nov{
  gap: 10px;
  padding: 5px;
}
.nuacmy_cont:hover .myde_img{
  display: none;
}
.nuacmy_cont:hover .nuacmy{
  height: 40%;
  position: absolute;
  bottom: 0;
}
.information_index{
  height: 75vh;
  margin-bottom: 5vh;
}
.card_info_in{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.card_qs{
  background-color: #4A1A31;
}
.card_cmn{
  background-color: #33D99D;
  position: relative;
  overflow: hidden;
}
.card_eib{
  background-color: #F6454F;
  position: relative;
  overflow: hidden;
}
.text_qs_card{
  background: rgba(0, 0, 0, 0.28);
  height: 25%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.text_qs_card_tt{
  display: flex;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}
.text_qs_card_ds{
  display: none;
}
.card_qs:hover .myde_card_in{
  display: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.card_qs:hover .text_qs_card{
  height: 85%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.card_qs:hover .text_qs_card_ds{
  display: flex;
  text-align: justify;
  padding: 3px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.card_cmn:hover .text_qs_card_ds{
  display: flex;
  text-align: justify;
  padding: 3px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.card_eib:hover .text_qs_card_ds{
  display: flex;
  text-align: justify;
  padding: 3px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.card_cmn:hover .text_qs_card{
  height: 70%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.card_eib:hover .text_qs_card{
  height: 70%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.card_cmn:hover .img_card_cm{
  height: 30%;
  width: 100%;
}
.card_eib:hover .img_card_cm{
  height: 30%;
  width: 100%;
}
.img_card_cm{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  height: 75%;
}
#img_card_eib{
  width: 100%;
}
.card_qs img:first-child{
    height: 25%;
    width: 100%;
}
.card_qs img:last-child{
    height: 77%;
}
.card_qs:hover .mydea_letras_img{
    height: 100%
}
.NegocioSC .card_i{
    position: relative;
}
.index{
    background-color: #E9E9E9;
}
.index nav{
    position: fixed;
}
#Exp_neg{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    box-shadow: none;
    left: 0;
    z-index: 2;
}
.NegocioSC{
    position: relative;
}